services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    container_name: timescaledb_demo
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: timescale_demo
    ports:
      - "5432:5432"
    volumes:
      - ts_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  grafana:
    image: grafana/grafana:9.5.0
    container_name: grafana_demo
    depends_on:
      - timescaledb
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "admin"
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  ts_data:
  grafana_data:
